{% extends 'layout/application.html' %}
{% block content %}
<style>
    .label-div {
        margin-bottom: 1em;
        margin-top: 1em;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .title-div {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1em;
        text-align: center;
    }
    .disabled-button{
        border: .25px dashed black !important;
        color: #000;
        cursor: not-allowed;
        background-color: gray;
    }
    input[type="text"][name='name'], input[type="text"][name='username'],
    input[type="password"][name='password'],
    input[type="text"][name='password'],
    input[type="password"][name='confirm_password'] {
        width: 90%;
        font-size : 18pt;
        border-radius:5px;
        height: 7vh;
    }
    .warning-div{
        font-size: 1.5rem;
        font-weight: normal;
        text-align: left;
        padding: 5px;
        color: #FFC107;
    }
    .notifier{
        font-size: 1.2rem;
        font-weight: normal;
        text-align: center;
        padding: 5px;
        color: #555555;
    }
    .subtitle-div {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
</style>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/keyboard.css') }}">
<script src="{{url_for('static', filename='javascript/keyboard.js')}}" defer></script>
<script src="{{url_for('static', filename='javascript/keyboard_init.js')}}" defer></script>
<script src="{{url_for('static', filename='javascript/paginate.min.js')}}"></script>

<div style="width: 95%; margin-left:auto; margin-right:auto; height: 100%; overflow: auto; text-align:left;">
  <form id="editUserForm" method="POST" action="/user/{{ user.username}}/edit">

        {% include 'user/admin/_update_details.html' %}

        <!-- Tab 2: User Role -->
        {% include 'user/admin/_update_roles.html' %}
        
        <!-- Tab 3 -->
        {% include 'user/admin/_update_designations.html' %}

         <!-- Tab 4 -->
        {% include 'user/admin/_update_allocations.html' %}

        <div style="border: 1px solid silver; margin-top: 1vh;">
            <table style="width:100%;">
                <tr>
                    <td>
                        <a href="/users" title="Cancel"><button type="button" class="modalNVButton red">Cancel</button></a>
                    </td>
                    <td style="text-align: center;">
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                    </td>
                    <td style="text-align: right">
                        <button type="button" id="prevBtn" class="modalNVButton" onclick="nextPrev(-1)">Previous</button>
                        <button type="button" id="nextBtn" class="modalNVButton green" onclick="nextPrev(1)">Next</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>

   
<script type="text/javascript">
    let currentTab = 0;
    showTab(currentTab);

    function showEditUserDialog() {
        window.location = '{{ request.url.split("?")[0] }}#userModal';
    }

    function showTab(n) {
        const tabs = document.getElementsByClassName('tab');
        for (let i = 0; i < tabs.length; i++) {
            tabs[i].style.display = 'none';
        }
        tabs[n].style.display = 'block';

        if (n === 0) {
            document.getElementById('prevBtn').style.display = 'none';
        } else {
            document.getElementById('prevBtn').style.display = 'inline';
        }

        if (n === tabs.length - 1) {
            document.getElementById('nextBtn').innerHTML = 'Save';
        } else {
            document.getElementById('nextBtn').innerHTML = 'Next';
        }
    }

    function nextPrev(n) {
        const tabs = document.getElementsByClassName('tab');
        if (n === 1 && !validateForm()) return false;
        tabs[currentTab].style.display = 'none';
        currentTab = currentTab + n;

        if (currentTab >= tabs.length) {
            document.getElementById('editUserForm').submit();
            return false;
        }

        showTab(currentTab);

       /*const selectedRole = document.querySelector('input[type="radio"][name="role"]:checked');

        if (selectedRole.id == "doc"){
            filterDesignations("doc")
        } else if (selectedRole.id == "nurse") {
            filterDesignations("nurse")
        } else if (selectedRole.id == "student"){
            filterDesignations("student")
        }
        
        const selectedDesignation = document.querySelector('input[type="radio"][name="designation"]:checked');

        if (selectedDesignation.id == "medical"){
            filterAllocation("medical")
        } else if (selectedDesignation.id == "nursing") {
            filterAllocation("nursing")
        
       }

    }
    

    
</script>
{% endblock %}




