{% extends 'layout/application.html' %}
{% block content %}
    <script type="text/javascript">
        navButtons = [
            
            
            "<button class=\"nvButton Green\" onmousedown=\"window.location='/'\" style=\"float: right;\">Finish</button>",
            "<button class=\"nvButton\" onmousedown='showNewUserDialog()' style=\"float: right;\">New User</button>"]
    </script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/keyboard.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toastify.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
    <script src="{{url_for('static', filename='javascript/paginate.min.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/keyboard.js')}}" defer></script>
    <script src="{{url_for('static', filename='javascript/keyboard_init.js')}}" defer></script>

    <div style="display: flex; justify-content: flex-end; align-items: center;">
        <input type="text" id="searchInput" style="padding: 10px; border: 1px solid #ccc; border-radius: 5px; width: 200px;" placeholder="Search by Username">
        <button id="searchButton" style="background-color: #0550a0; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Search</button>

    </div>

    {% include 'user/admin/_view_users.html' %}

    {% include 'user/new.html' %}

    <script type="text/javascript">
        /*let options = {
            numberPerPage:8, //Cantidad de datos por pagina
            goBar:false, //Barra donde puedes digitar el numero de la pagina al que quiere ir
            pageCounter:true, //Contador de paginas, en cual estas, de cuantas paginas
        };
        paginate.init('.myTable',options);
*/
        var currentTab = 0; // Current tab is set to be the first tab (0)
        function showNewUserDialog(){
            window.location='{{request.url.split("?")[0]}}#userModal'
            showTab(0); // Display the current tab
        }
     </script>
{% endblock %}