{% extends 'layout/application.html' %}
{% block title %}Select Location{% endblock %}
{% block content %}
<div style="padding: 10px;">
        <p>
            <span style="font-style: italic; font-size:16pt;">Welcome {{ session["user"]["current_user"] }}!</span><br/>
            <span style="font-weight: bold; font-size:18pt;">Please select your Department :</span>
        </p>
        <div class="tab">
            <button class="tablinks active" onclick="openTab(event, 'location')">Location</button>
            <button class="tablinks" onclick="openTab(event, 'ward')">Wards</button>
        </div>

       <!-- Department Tab -->
    <div id="location" class="tabcontent" style="display:block;">
        <form action="/select_location" method="post" name="locationSelection">
            <div style="width: 100%; height: 80%; border: 2px solid blue;overflow:auto;margin-left: auto;margin-right: auto;">
                <ul>
                    {% for department in departments %}
                    <div style="display:table-row;">
                        <div style='display: table-cell; vertical-align: center;'>
                            <li>
                                <input type='radio' id='{{ department.name }}' value='{{ department.name }}' name='department' onclick='showWards("{{ department.name }}")'>
                                <label for='{{ department.name }}'>{{ department.name }}</label>
                                <div class='check'></div>
                            </li>
                        </div>
                    </div>
                    {% endfor %}
                </ul>
            </div>

        </form>
    </div>

       <!-- Ward Tab -->
    <div id="ward" class="tabcontent" style="display:none;">
        <form action="/select_location" method="POST" name="wardSelection">
            <div style="width: 100%; height: 80%; border: 2px solid blue; overflow:auto;">
                <ul id="wardsList">
                </ul>
            </div>
        </form>
    </div>
</div>

<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
        document.getElementById('btnBack').style.display = "block";

    }


    function logout() {
        window.location = '/logout';
    }

    var departments = {{ departments | tojson }};

    function showWards(departmentName) {
    var wardsList = document.getElementById("wardsList");
    wardsList.innerHTML = ""; // Clear existing wards list

    var department = departments.find(dep => dep.name === departmentName);
    if (department) {
        department.wards.forEach(ward => {
            var li = document.createElement("li");
            var divCell = document.createElement("div");
            divCell.style.display = "table-cell";
            divCell.style.verticalAlign = "center";
            var input = document.createElement("input");
            input.type = "radio";
            input.id = ward;
            input.name = "ward";
            input.value = ward;
            var label = document.createElement("label");
            label.setAttribute("for", ward);
            label.textContent = ward;
            var divCheck = document.createElement("div");
            divCheck.className = "check";
            divCell.appendChild(input);
            divCell.appendChild(label);
            divCell.appendChild(divCheck);
            li.appendChild(divCell);
            wardsList.appendChild(li);
        });
    }

    document.getElementById('ward').style.display = "block";
    document.getElementById('location').style.display = "none";
    document.getElementsByClassName('tablinks')[1].classList.add('active');
    document.getElementById('btnBack').style.display = "block";
}

function nextTab() {
    document.getElementById('ward').style.display = "block";
    document.getElementById('location').style.display = "none";
    document.getElementsByClassName('tablinks')[1].classList.add('active');
    document.getElementById('btnBack').style.display = "block";
}


    function onSubmit() {
        var selectedWard = document.querySelector('input[name="ward"]:checked');
        console.log(selectedWard);
        if (selectedWard) {
            var wardValue = selectedWard.value;
            console.log("Selected Ward:", wardValue);
            Spinner.show()
            document.wardSelection.submit();
            return;
        } else {
             document.getElementById("errorField").innerText = "Please select one ward from the list."
        }
    }
    var back_button = "<button class=\"nvButton red\" onmousedown=\"window.location='/login'\" style=\"float: left;\">logout</button>";

    navButtons = [
        "<button class=\"nvButton red\" onmousedown=\"window.location='/login'\" style=\"float: left;\">logout</button>",
        "<button class=\"nvButton green\" id='btnBack' onclick='prevTab()' style=\"float: left; display:none;\">Back</button>",
        "<button class=\"nvButton blue\" id='btnSubmit' onmousedown='onSubmit()' style=\"float: right;\">Finish</button>"
    ];


    function prevTab() {
    document.getElementById('ward').style.display = "none";
    document.getElementById('location').style.display = "block";
    document.getElementsByClassName('tablinks')[0].classList.add('active');
    document.getElementsByClassName('tablinks')[1].classList.remove('active');
    document.getElementById('btnBack').style.display = "none";
}



</script>

{% endblock %}