{% extends 'layout/application.html' %}
{% block title %}Select Location{% endblock %}
{% block content %}
<script type="text/javascript">
    navButtons = ["<button class=\"nvButton red\" onmousedown=\"window.location='/logout'\" style=\"float: left;\">Logout</button>",
        "<button class=\"nvButton green\" onmousedown='submitSelections()' style=\"float: right;\">Finish</button>"]
        </script>
<div style="padding: 10px;">
    <p>
        <span style="font-style: italic; font-size:16pt;">Welcome {{ session["user"]["current_user"] }}!</span><br/>
        <span style="font-weight: bold; font-size:18pt;">Please select your Department :</span>
    </p>
    <div class="tab">
        <button class="tablinks active" onclick="openTab(event, 'location')">Location</button>
        <button class="tablinks" onclick="openTab(event, 'ward')">Wards</button>
    </div>

   <!-- Department Tab -->
<div id="location" class="tabcontent" style="display:block;">
    <form action="/select_location" method="post" name="locationSelection">
        <div style="width: 100%; height: 80%; border: 2px solid blue;overflow:auto;margin-left: auto;margin-right: auto;">
            <ul>
                {% for department in departments %}
                <div style="display:table-row;">
                    <div style='display: table-cell; vertical-align: center;'>
                        <li>
                            <input type='radio' id='{{ department.name }}' value='{{ department.name }}' name='department' onclick='showWards("{{ department.name }}")'>
                            <label for='{{ department.name }}'>{{ department.name }}</label>
                            <div class='check'></div>
                        </li>
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>
        <div style="text-align: left; padding-top: 10px;">
            <button type="button" class="nvButton red" onclick="logout()">Logout</button>
        </div>
        <div style="text-align: right; padding-top: 10px;">
            <button type="button" class="nextButton" onclick="nextTab()">Next</button>
        </div>
    </form>
</div>

   <!-- Ward Tab -->
<div id="ward" class="tabcontent" style="display:none;">
    <form action="/select_location" method="post" name="wardSelection">
        <div style="width: 100%; height: 80%; border: 2px solid blue; overflow:auto;">
            <ul id="wardsList">
                <!-- Wards will be populated dynamically -->
            </ul>
        </div>
        <button type="submit" class="nvButton green" style="margin-top: 10px;">Select</button>
    </form>
</div>


<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    function nextTab() {
        document.getElementById('ward').style.display = "block";
        document.getElementById('location').style.display = "none";
        document.getElementsByClassName('tablinks')[1].classList.add('active');
    }

    function logout() {
    window.location = '/logout';
}


    var departments = {{ departments | tojson }};

   function showWards(departmentName) {
    var wardsList = document.getElementById("wardsList");
    wardsList.innerHTML = ""; // Clear existing wards list

    // Find the department in the JSON data
    var department = departments.find(dep => dep.name === departmentName);

    if (department) {
        // Populate the list of wards for the selected department
        department.wards.forEach(ward => {
            var li = document.createElement("li");
            var divCell = document.createElement("div");
            divCell.style.display = "table-cell";
            divCell.style.verticalAlign = "center";
            var input = document.createElement("input");
            input.type = "radio";
            input.id = ward;
            input.name = "ward";
            input.value = ward;
            var label = document.createElement("label");
            label.setAttribute("for", ward);
            label.textContent = ward;
            var divCheck = document.createElement("div");
            divCheck.className = "check";
            divCell.appendChild(input);
            divCell.appendChild(label);
            divCell.appendChild(divCheck);
            li.appendChild(divCell);
            wardsList.appendChild(li);
        });
    }
}

</script>
{% endblock %}
# def locations_options():
#     return [["MSS", "Medical Short Stay"], ["4A", "Medical Female Ward"], ["4B", "Medical Male Ward"],
#             ["MHDU", "Medical HDU"]]
# def locations_options():
#
#     locations = {
#         "Medical": ["4A", "4B", "Short Stay", "OPD1", "OPD2"],
#         "Pediatrics": ["Ward A", "Ward B", "Ward C", "HDU"]
#     }
#     options = []
#     for location, wards in locations.items():
#         options.append([location, wards])
#     return options


    {% extends 'layout/application.html' %}
{% block title %}Location{% endblock %}
{% block content %}
<script type="text/javascript">
    navButtons = ["<button class=\"nvButton red\" onmousedown=\"window.location='/logout'\" style=\"float: left;\">Logout</button>",
        "<button class=\"nvButton green\" onmousedown='submitSelections()' style=\"float: right;\">Finish</button>"]

    function submitSelections(){
        if (document.querySelectorAll('input[type="radio"]:checked').length > 0)
        {
            Spinner.show()
            document.locationSelection.submit();
            return;
        }
        document.getElementById("errorField").innerText = "Please select one location from the list."
    }
</script>

<div style="padding: 10px; ">
    <p>
        <span style="font-style: italic; font-size:16pt;">Welcome {{ session["user"]["current_user"] }}!</span><br/>
        <span style="font-weight: bold; font-size:18pt;">Please select your location :</span>
    </p>
    <p class="error" id="errorField">
        {% if error %}
            <strong>Error:</strong> {{ error }}
        {% endif %}
    </p>
    <form action="/select_location" method="post" name="locationSelection">
        <div style="width: 100%; height: 80%; border: 2px solid blue;overflow:auto;margin-left: auto;margin-right: auto;">
            <ul>
                {%  for i in options %}
                    <div style="display:table-row;">
                        <div style='display: table-cell; vertical-align: center;'>
                            <li><input type='radio' id={{ i[0] }} value={{ i[0] }} name='location'><label for={{ i[0] }}>{{i[1]}}</label><div class='check'></div></li>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </form>
</div>
</div>
{% endblock %}