<!-- TODO: move user designations to configurable -->
<div class="tab" id="user-designations">
    <div class="title-div">User Designation</div>
    <ul>
        {% for role_dict in user_roles.roles %}
            {% set role_name = role_dict.keys() | list | first %}
            {% set designations = role_dict[role_name].designations %}
            {% for designation in designations %}
                <li data-id="{{ role_name | replace(' ', '_') }}" name="designationOptions">
                    <input type="radio" id="{{role_name | replace(' ', '_')}}_{{ designation | replace(' ', '_') }}" value="{{ designation }}" name="designation">
                    <label for="{{role_name | replace(' ', '_')}}_{{ designation | replace(' ', '_') }}">{{ designation }}</label>
                    <div class="check"></div>
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>


<script type="text/javascript">
    // DATA VALIDATION
    const designationInputsContainer = document.getElementById("user-designations");

    function _validateDesignationSelection() {
        const isDesignationSelected = document.querySelector("input[name='designation']:checked") !== null;
        setTabValidity(2, isDesignationSelected);

        const activeTab = _getCurrentActiveTab();
        if (activeTab) {
            _handleButtonsState(activeTab.index);
        }
    }
    if (designationInputsContainer) {
        designationInputsContainer.addEventListener('change', _validateDesignationSelection);
        _validateDesignationSelection();
    }

</script>