<!-- TODO: move user allocations to configurable -->
<div class="tab" id="user-allocations">
    <div class="title-div">Allocation</div>
    <ul>
        <div class="subtitle-div" id="ward-section" style="display:none;">
            Ward
        </div>
        {% if all_wards %}
            {% for ward in all_wards %}
                <li data-id="{{ ward | replace(' ', '_')}}" name="allocationOptions" id="ward-option-{{ ward | replace(' ', '_')}}" style="display:none;">
                    <input type="radio" id="{{ ward | replace(' ', '_') }}" value="{{ ward }}" name="ward" >
                    <label for="{{ ward | replace(' ', '_') }}">{{ ward }}</label>
                    <div class="check"></div>
                </li>
            {% endfor %}
        {% else %}
            <div class="notifier" id="ward-notifier" style="display:none;">
                No ward available for this department
            </div>
            <input type="text" name="ward" value="{{None}}" hidden>
        {% endif %}

        <div class="subtitle-div" id="teams-section" style="display:none;">
            Teams
        </div>
        {% if teams %}
            {% for team in teams %}
                <li data-id="{{ team | replace(' ', '_')}}" name="allocationOptions">
                    <input type="radio" id="{{ team | replace(' ', '_') }}" value="{{ team }}" name="team" >
                    <label for="{{ team | replace(' ', '_') }}">{{ team }}</label>
                    <div class="check"></div>
                </li>
            {% endfor %}
        {% else %}
            <div class="notifier">
                No teams available for this department
            </div>
            <input type="text" name="team" value="{{None}}"hidden>
        {% endif %}

        <hr>

        <div class="subtitle-div">
            Units
        </div>

        {% if units %}
            {% for unit in units %}
                <li data-id="{{ unit | replace(' ', '_')}}" name="allocationOptions">
                    <input type="radio" id="{{ unit | replace(' ', '_') }}" value="{{ unit }}" name="unit" >
                    <label for="{{ unit | replace(' ', '_') }}">{{ unit }}</label>
                    <div class="check"></div>
                </li>
            {% endfor %}
        {% else %}
            <div class="notifier">
                No units available for this department
            </div>
            <input type="text" name="unit" value="{{None}}" hidden>
        {% endif %}


        {% if department %}
            <input type="text" name="department" value="{{ department }}" hidden>
        {% else %}
            <input type="text" name="department" value="{{None}}" hidden>
        {% endif %}

        {% if ward %}
            <input type="text" name="ward" value="{{ ward }}" hidden>
        {% else %}
            <input type="text" name="ward" value="{{None}}" hidden>
        {% endif %}
    </ul>
</div>

<script type="text/javascript">
    // DATA VALIDATION
    const allocationInputsContainer = document.getElementById("user-allocations");
    
    function _validateAllocationSelection() {
        const isAllocationSelected = document.querySelector("input[name='unit']:checked") !== null || document.querySelector("input[name='team']:checked") !== null;
        setTabValidity(3, isAllocationSelected);

        const activeTab = _getCurrentActiveTab();
        if (activeTab) {
            _handleButtonsState(activeTab.index);
        }
    }
    if (allocationInputsContainer) {
        allocationInputsContainer.addEventListener('change', _validateAllocationSelection);
        _validateAllocationSelection();
    }
</script>