<div class="tab">
    <div class="title-div" id="user-details">
        Edit | User Details
    </div>
    
    <div class="label-div">
        <label for="default">
            Full Name
        </label>
    </div>
    <input
        type="text"
        placeholder="Full name"
        name="name"
        minlength="6"
        id="default"
        class="input"
        value="{{ user.name }}"
        required
    >
    <div class="warning-div name-warning-div">
    </div>

    <div class="label-div username-div">
        Username
    </div>
    <input
        type="text"
        placeholder="Username"
        minlength="6"
        name="username"
        id="input-username"
        class="input lowercase"
        value="{{ user.username }}"
        onchange="this.value = this.value.toLowerCase()"
        required
        disabled
    >
    <div class="warning-div username-warning-div">
    </div>

    <!-- Keyboard -->
    <div class="simple-keyboard" style="width: 99%; border: 1px solid silver;margin-top: 2vh;"></div>
</div>

<script type="text/javascript">
</script>
