<h1 >User Management</h1>
<div style="width: 95%; margin-left:auto;margin-right:auto;height:85%; overflow: auto;text-align:left;">
    <table class="myTable table hover">
        <tbody>
            <tr>
                <th>User</th>
                <th>Name</th>
                <th>Role</th>
                <th>Designation</th>
                <th>Team/Ward</th>
                <th>Action</th>
            </tr>
            {% for user in users %}
            <tr>
                    <td>{{user.get("_id")}}</td>
                    <td>{{user.get("name")}}</td>
                    <td>{{user.get("role")}}</td>
                    <td>{{user.get("designation")}}</td>
                    <td>{{user.get("ward", user.get("team"))}}</td>
                    
                        <td>
                            <button class="displayButton edit-button blue" onmousedown="window.location='/user/{{user.get('_id')}}/edit'">Edit</button>

                            {% if session['user']['current_user'] == user.get("name") and session['user']['username'] == user.get("_id") %}
                            {% else %}
                                {% if user.get("status") == "Active" %}
                                    <button class="displayButton red" onmousedown="window.location='/user/{{user.get('_id')}}/deactivate'">Deactivate</button>
                                {% else %}
                                    <button class="displayButton green" onmousedown="window.location='/user/{{user.get('_id')}}/activate'">Reactivate</button>
                                {% endif %}
                            {% endif %}
                            
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
