{
  "roles" :[
    {
      "Clinical Officer":{
        "designations": [
          "Clinical Officer",
          "Consultant",
          "Matron",
          "Registrar"
        ]
      }
    },
    {
      "Doctor": {
        "designations": [
          "Consultant",
          "Matron",
          "Registrar",
          "Visiting Doctor"
        ]
      }
    },
    {
      "Nurse": {
        "designations": [
          "Consultant",
          "Matron",
          "Nurse",
          "Registrar",
          "Nurse in-charge"
        ]
      }
    },
    {
      "Student": {
        "designations": [
          "Clinical Officer Student",
          "Nursing Student",
          "Medical Student",
          "Intern"
        ]
      }
    }
  ]
}