{
    "couch":{
        "host":"localhost",
        "user":"",
	    "port": "5984",
        "passwd":"",
        "database":"local_db"
    },
    "iblis": {
        "host": "localhost",
        "user":"root",
        "password":"",
        "database":""
    },
    "facility":"My Test Facility",
    "using_rpi": "False" # change depending on machine
}
