{
    "couch":
    {
        "host":"127.0.0.1",
        "user":"",
	    "port": "5984",
        "passwd":"",
        "database":"local_db"
    },
    "specific_department":
    {
        "department":""
    }

}
