{ 
  "departments": [
    {
      "name": "Medical",
      "wards": [
        "OPD2",
        "MSS",
        "4A",
        "4B",
        "MHDU",
        "DIALYSIS UNIT"

      ]
    },
    {
      "name": "Pediatrics",
      "wards":
      [
        "UNDER 5",
        "CWA",
        "CWB",
        "CWC",
        "CW HDU" 
      ]
    },
    {
      "name": "Surgery",
      "wards":
      [
        "CASUALTY",
        "1A",
        "1B",
        "2B",
        "3A",
        "3B",
        "SHDU",
        "THEATRE"
      ]
    },
    {
      "name": "ETHEL MUTHARIKA",
      "wards":
      [
        "LABOUR",
        "POSTNATAL WARD",
        "ANTENATAL WARD",
        "EM OPD",
        "EMHDU",
        "EM NURSERY",
        "GYNAE"
      ]
    },
    {
      "name": "ONCOLOGY",
      "wards":
      [
        "IDU",
        "OPD1",
        "EYE",
        "DENTAL"
      ]
    }
  ]
}