{
  "departments": [
    {
      "name": "Medical",
      "wards": ["4A", "4B", "Medical short Stay", "OPD1", "OPD2", "HDU"]
    },
    {
      "name": "Pediatrics",
      "wards": ["Ward A", "Ward B", "Ward C", "HDU"]
    },
    {
      "name": "Surgery",
      "wards": ["1A", "3A", "HDU"]
    }
  ]
}
