{ 
  "departments": [
    {
      "name": "Medical",
      "wards": [
        "OPD2",
        "MSS",
        "4A",
        "4B",
        "MHDU",
        "DIALYSIS UNIT"
      ],
      "teams": [
        "Team A",
        "Team B",
        "Team C",
        "Team D"
      ],
      "units": []
    },
    {
      "name": "Pediatrics",
      "wards":
      [
        "UNDER 5",
        "CWA",
        "CWB",
        "CWC",
        "CW HDU" 
      ],
      "teams":[
        "Pediatrics"
      ],
      "units":[]
    },
    {
      "name": "Surgery",
      "wards":
      [
        "CASUALTY",
        "1A",
        "1B",
        "2B",
        "3A",
        "3B",
        "SHDU",
        "THEATRE"
      ],
      "teams": [
        "PEADS SURGERY",
        "PLASTIC SURGERY",
        "NEUROLOGY",
        "UROLOGY",
        "ENT",
        "DENTAL"
      ],
      "units": [
        "Unit 1",
        "Unit 2"
      ]
    },
    {
      "name": "Ethel Mutharika",
      "wards":
      [
        "LABOUR",
        "POSTNATAL WARD",
        "ANTENATAL WARD",
        "EM OPD",
        "EMHDU",
        "EM NURSERY",
        "GYNAE"
      ],
      "teams": [],
      "units": [
        "Unit 1",
        "Unit 2",
        "Unit 3",
        "Unit 4"
      ]
      
    },
    {
      "name": "Oncology",
      "wards":
      [
        "ICU",
        "OPD1",
        "EYE",
        "DENTAL"
      ],
      "teams": [], 
      "units": [
        "ICU",
        "OPD1",
        "EYE",
        "DENTAL"
      ]
    }
  ]
}