{ 
  "departments": [
    {
      "name": "Medical",
      "wards": [
        "OPD2",
        "MSS",
        "4A",
        "4B",
        "MHDU",
        "DIALYSIS UNIT"
      ],
      "team": [
            "OPD",
            "Short Stay",
            "A",
            "B",
            "C",
            "D"
]

    },
    {
      "name": "Pediatrics",
      "wards":
      [
        "UNDER 5",
        "CWA",
        "CWB",
        "CWC",
        "CW HDU" 
      ],
       "team": [
           "Pediatrics"]
    },
    {
      "name": "Surgery",
      "wards":
      [
        "CASUALTY",
        "1A",
        "1B",
        "2B",
        "3A",
        "3B",
        "SHDU",
        "THEATRE"
      ],
      "team": [
            "1",
            "2",
            "PAEDS SURGERY",
            "PLASTIC SURGERY",
            "NEUROLOGY",
            "UROLOGY",
            "ENT"
]

    },
    {
      "name": "Ethel Mutharika",
      "wards":
      [
        "LABOUR",
        "POSTNATAL WARD",
        "ANTENATAL WARD",
        "EM OPD",
        "EMHDU",
        "EM NURSERY",
        "GYNAE"
      ],
      "team": [
            "1",
            "2",
            "3",
            "4"
]

    },
    {
      "name": "Oncology",
      "wards":
      [
        "ICU",
        "OPD1",
        "EYE",
        "DENTAL"
      ],
       "team": [
          "A",
          "B",
          "C"
]
    }
  ]
}