{
    "source":
    {
        "host":"127.0.0.1",
        "user":"admin",
	    "port": "5984",
        "passwd":"root"
    },
    "target": 
    {
        "host": "192.168.10.58",
        "user":"OERRuser",
        "port": "5984",
        "password":"sinthaMW"
    },
    "target_base_db":
    {
        "database": "mss_results_new"
    },
    "source_base_db":
    {
        "database":"local_db"
    },
    "specific_department":
    {
        "department":"Medical"
    }

}
