{
    "source":
    {
        "host":"127.0.0.1",
        "user":"admin",
	    "port": "5984",
        "passwd":"root"
    },
    "target": 
    {
        "host": "127.0.0.1",
        "user":"admin",
        "port": "5984",
        "password":"root"
    },
    "target_base_db":
    {
        "database": "mss_results_new"
    },
    "source_base_db":
    {
        "database":"source_db"
    },
    "specific_department":
    {
        "department":"Medical"
    }

}
