 {
    "UNDER 5": "27",
    "CWA": "7",
    "CWB": "3",
    "CWC": "1",
    "CW HDU": "2",

    "OPD2": "4",
    "MSS": "44",
    "4A": "19",
    "4B": "20",
    "MHDU": "56",
    "DIALYSIS UNIT": "10",


    "CASUALTY": "34",
    "1A": "12",
    "1B": "13",
    "3A": "17",
    "3B": "18",
    "SHDU": "57",
    "THEATRE": "9",


    "LABOUR": "36",
    "POSTNATAL WARD":"42",
    "ANTENATAL WARD": "64",
    "EM OPD": "35",
    "EMHDU" : "37",
    "EM NURSERY": "39",
    "GYNAE": "40",

    "ICU": "11",
    "OPD1": "60",
    "EYE WARD": "59",
    "DENTAL" : "25",
    "ENT": "61" 
}
