 {
    "CWC": "1",
    "CW HDU": "2",
    "CWB": "3",
    "OPD2": "4",
    "OPD1": "60",
    "CWA": "7",
    "THEATRE": "9",
    "DIALYSIS UNIT": "10",
    "ICU": "11",
    "1A": "12",
    "1B": "13",
    "2A": "14",
    "2B": "15",
    "ONCOLOGY": "16",
    "3A": "17",
    "3B": "18",
    "4A": "19",
    "4B": "20",
    "MSS": "44",
    "MHDU": "56",
    "SHDU": "57",
    "PHYSIOTHERAPY": "58",
    "EYE WARD": "59",
    "EMHDU": "60"
}
