
{% extends 'layout/application.html' %}
{% block content %}
    <script type="text/javascript">
        navButtons = [
            "<button class=\"nvButton green\" onmousedown=\"window.location='/'\" style=\"float: right;\">Finish</button>",
            "<button class=\"nvButton\" onmousedown='showOrderDialog()' style=\"float: right;\">New Test</button>"
        ]

        {% if pending_orders != [] %}
            navButtons.push("<button class=\"nvButton\" onmousedown='showDrawDialog()' style=\"float: right;\">Draw Samples</button>")
        {% endif %}
     </script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/keyboard.css') }}">
    <script src="{{url_for('static', filename='javascript/keyboard.js')}}" defer></script>
    <script src="{{url_for('static', filename='javascript/keyboard_init.js')}}" defer></script>
    <div class="header">
        <table style="width:100%;">
            <tr>
                <td rowspan="2">
                    {% if (pt_details.get('gender').lower() == 'm' or pt_details.get('gender').lower() == 'male') %}
                        <img src="/assets/images/male.png" >
                    {% else %}
                        <img src="/assets/images/female.png" >
                    {% endif %}
                </td>
                <td><b>Patient Name</b></td>
                <td>:</td>
                <td><i>{{pt_details.get('name')}}</i></td>
                <td><b>Age</b></td>
                <td>:</td>
                <td><i>{{ pt_details.get('age') }}</i></td>
            </tr>
            <tr>
                <td><b>Patient ID</b></td>
                <td>:</td>
                <td><i>{{ pt_details.get('id') }}</i></td>
                <td><b>DOB</b></td>
                <td>:</td>
                <td><i>{{ pt_details.get('birth_date') }}</i></td>
            </tr>
        </table>
    </div>
    <h2>Recent Lab Tests</h2>
    <div style="border: 1px solid silver; padding: 10px;height:65vh; overflow:auto;" class="header">
        {% for row in tests%}
            <div style="border:2px solid #07575B;border-radius:6px;width: 100%;margin:1% auto;font-size:12pt;">
            <div style="color:#fff;margin:0;background-color:#003B46;font-size:14pt; padding: 15px;font-weight: bold;" onmousedown="toggleDisplay('{{row['id']}}', '{{row['status']}}')">
                <div style="display: table-row;">
                    <div style="display: table-cell;width: 100%;">{{row['test_name']}}</div>
                    <div style="display: table-cell;">&nbsp;</div>
                </div>
                <div style="display: table-row;">
                    <div style="display: table-cell;width: 100%;">Ordered On: {{ row['date_ordered'] }}</div>
                    <div style="display: table-cell;" id="{{row['id']}}-status">View</div>
                </div>
                {% if row.get("type") == "test"%}
                    <div style="display: table-row;">
                        <div style="display: table-cell;width: 100%;">Current Status: {{row['status']}}</div>
                        <div style="display: table-cell;">&nbsp;</div>
                    </div>
                {% endif %}
                <div style="display: table-row;">
                    <div style="display: table-cell;width: 100%;">Ordered By: {{ row['ordered_by'] }}</div>
                    <div style="display: table-cell;">&nbsp;</div>
                </div>
            </div>
             <div id='{{row["id"]}}' style="padding: 10px" hidden="False">
                 {% if row.get("type") == "test"%}
                    {% if row['status'] == "Analysis Complete" or row['status'] == "Reviewed" %}
                        <table style="width: 100%;margin-left: auto; margin-right: auto;border-collapse: collapse; line-height: 5vh;" >
                            <tr>
                                <th style="height: 50px;border: 1px solid black;width:30%;">Measure</th>
                                <th style="height: 50px;border: 1px solid black;">Value</th>
                                <th style="height: 50px;border: 1px solid black;width:20%;">Range</th>
                            </tr>
                            {% for measure in row.get("measures").items() %}
                                <tr>
                                    <td style="border: 1px solid black;font-weight: bold;padding-left: 10px;">{{measure[0]}} </td>
                                    <td style="border: 1px solid black;text-align: center;">
                                        {% if measure[1]["interpretation"] == "High" %}
                                                <span style='color: red; font-size: 2em;font-weight: bold;'>&#8593;</span><span style='color: red;'>{{measure[1]["value"]}}</span>
                                        {% elif measure[1]["interpretation"] == "Low" %}
                                                <span style='color: red; font-size: 2em;font-weight: bold;'>&#8595;</span><span style='color: red;'>{{measure[1]["value"]}}</span>
                                        {% else %}
                                            {{measure[1]["value"]}}

                                        {% endif %}
                                    </td>
                                    <td style="border: 1px solid black;text-align: center;">{{measure[1]["range"]}} </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% elif row['status'] == "Ordered" %}
                        <b>Test Priority: </b>{{row.get("priority")}}<br><br>
                        <b>Clinical History: </b>{{row.get("history", "")}}<br><br>
                        <b>Order Status:</b>{{row.get("status")}}<br>
                     {% elif row['status'] == "Specimen Collected" %}
                        <b>Test Priority: </b>{{row.get("priority")}}<br><br>
                        <b>Clinical History: </b>{{row.get("history", "")}}<br><br>
                        <b>Order Status:</b>{{row.get("status")}}<br><br>
                        {% if row.get("collection_id") == "" %}
                            <button onmousedown="window.location='/test/{{row.get('id')}}/reprint';disable_button(this)">Re-print Barcode</button>
                        {% else %}
                            <button onmousedown="window.location='/test/{{row.get('collection_id')}}/reprint';disable_button(this)">Re-print Barcode</button>
                        {% endif %}
                     {% elif row['status'] == "Specimen Received" %}
                        <b>Test Priority: </b>{{row.get("priority")}}<br><br>
                        <b>Clinical History: </b>{{row.get("history", "")}}<br><br>
                        <b>Order Status:</b>{{row.get("status")}}<br>
                     {% elif row['status'] == "Being Analyzed" or row['status'] == "Pending Verification" %}
                        <b>Test Priority: </b>{{row.get("priority")}}<br><br>
                        <b>Clinical History: </b>{{row.get("history", "")}}<br><br>
                        <b>Order Status:</b>{{row.get("status")}}<br>
                     {% elif row['status'] == "Rejected" or row['status'] == "Specimen Rejected" or row['status'] == "Test Rejected" or row['status'] == "Not Done"%}
                        <b>Test Priority: </b>{{row.get("priority")}}<br><br>
                        <b>Clinical History: </b>{{row.get("history", "")}}<br><br>
                        <b>Reason for rejection:</b>{{row.get("rejection_reason", "")}}<br>
                    {% endif %}
                 {% else %}
                    {% for test in row.get("panel_test_details").keys()%}
                        <b>{{row["panel_test_details"][test]["test_name"]}}</b>
                        <table style="width: 100%;margin-left: auto; margin-right: auto;border-collapse: collapse; line-height: 5vh;" >
                            <tr>
                                <th style="height: 50px;border: 1px solid black;width:30%;">Measure</th>
                                <th style="height: 50px;border: 1px solid black;">Value</th>
                                <th style="height: 50px;border: 1px solid black;width:20%;">Range</th>
                            </tr>
                            {% for measure in row.get("panel_test_details")[test]["measures"].items() %}
                                <tr>
                                    <td style="border: 1px solid black;font-weight: bold;padding-left: 10px;">{{measure[0]}} </td>
                                    <td style="border: 1px solid black;text-align: center;">
                                        {% if measure[1]["interpretation"] == "High" %}
                                                <span style='color: red; font-size: 2em;font-weight: bold;'>&#8593;</span><span style='color: red;'>{{measure[1]["value"]}}</span>
                                        {% elif measure[1]["interpretation"] == "Low" %}
                                                <span style='color: red; font-size: 2em;font-weight: bold;'>&#8595;</span><span style='color: red;'>{{measure[1]["value"]}}</span>
                                        {% else %}
                                            {{measure[1]["value"]}}
                                        {% endif %}
                                    </td>
                                    <td style="border: 1px solid black;text-align: center;">{{measure[1]["range"]}} </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <br/>
                    {% endfor %}
                    {% if row.get("status") == "Specimen Collected"%}
                        <button onmousedown="window.location='/test/{{row.get('id')}}/reprint';disable_button(this)">Re-print Barcode</button>
                    {% endif %}
                 {% endif %}
             </div>
        </div>
        {% endfor %}
    </div>

    <div style="border: 1px solid silver; padding: 10px;height:65vh; overflow:auto;" id="sampleDrawContent" hidden>
        <div class="Table ">
            <div  class="Title">
                 Sample Collection
                <div style="float: right;" onmousedown=hideDialog('#close')>
                    <img style="vertical-align: middle;" src="/assets/images/cancel.png" onmousedown=hideDialog('#close')>
                </div>
            </div>
            <div class="Heading">
                <div class="TitleCell">
                    <p>Specimen Type</p>
                </div>
                <div class="TitleCell">
                    <p>Test</p>
                </div>
                <div class="TitleCell">
                    <p>Min Vol.</p>
                </div>
                <div class="TitleCell">
                    <p>Container</p>
                </div>
                <div class="TitleCell">
                    <p>Action</p>
                </div>
            </div>
            {% for test in pending_orders %}
            <div class="Row">
                <div class="Cell">
                    <p>{{test["specimen_type"]}}</p>
                </div>
                <div class="Cell">
                    <p>{{test["test_name"]}}</p>
                </div>
                <div class="Cell" style="text-align: center">
                    <p>{{test["volume"]}} {{test["units"]}}</p>
                </div>
                <div class="Cell" style="text-align: center">

                    <img style="vertical-align: middle;height:12vh;max-width:15vw;" src="/assets/images/{{containers[test['container']]}}">
                </div>
                <div class="Cell">
                    <button class="modalNVButton" onmousedown="Spinner.show();window.location='/test/{{test['test_id']}}/collect_specimen';disable_button(this)">
                        Print Label
                    </button>
                </div>
            </div>
           {% endfor %}
        </div>
    </div>
    <div id="orderModal" class="modalDialog">
        <div>
            <div style="height: 20%; border: 1px solid silver; padding:5px; border-radius: 5px 5px 0px 0px">
                <span  style="font-weight:bold;font-size: 20pt;">Laboratory Test Order</span><hr/>
                <table style="width:80%;text-align: ">
                    <tr>
                        <td >Patient</td><td>:</td>
                        <td>{{ pt_details.get('name') }}</td>
                    </tr>
                    <tr>
                        <td >Ordered By</td><td>:</td>
                        <td>{{current_user['current_user']}}</td>
                    </tr>
                    <tr>
                        <td>Order Date</td><td>:</td>
                        <td>{{now}}</td>
                    </tr>
                </table>
            </div>
            <div style="height: 70%; overflow-y: auto;overflow-x: hidden;">
            <form id="regForm" method="post" action="/test/create">
                <!-- One "tab" for each step in the form: -->
                <div class="tab">
                    <h2>Select specimen type for test(s)</h2>
                    <ul>
                        {% for i in specimen_types%}
                            <div style="display: table-row;">
                                <div style='display: table-cell; vertical-align: center;'>
                                    <li>
                                        <input type='radio' id='type-{{i[0][1]}}' value="{{i[0][1]}}" required name='specimen_type' onchange="filterTests('type-{{i[0][1]}}')">
                                        <label for='type-{{i[0][1]}}'>{{i[0][0]}}</label>
                                        <div class='check'></div>
                                    </li>
                                </div>
                                <div style='display: table-cell;'>
                                        {% if  (i[1]  == undefined ) %}
                                            &nbsp;
                                        {% else %}
                                            <li>
                                                <input type='radio' id='{{i[1][1]}}' value="{{i[1][1]}}" required name='specimen_type' onchange="filterTests('type-{{i[0][1]}}')">
                                                <label for='{{i[1][1]}}'>{{i[1][0]}}</label>
                                                <div class='check'></div>
                                            </li>
                                        {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
              <div class="tab">
    <h2>Select test(s) to be performed:</h2>
   <ul class="two-column-list">
        {% for test_panel in panel_options %}
        <li data-id="{{(',').join(test_panel[1]['specimen_types'])}}" id="test-panel-{{test_panel[1]['name']}}-container" name="testOptions">
            <input type="checkbox" required id="test-{{test_panel[1]['name']}}" value="|{{test_panel[1]['name']}}|" name="test_type[]" onchange="handleCheckboxChange()">
            <label for="test-{{test_panel[1]['name']}}">{{ test_panel[1]['name'] }}</label>
            <div class="select"></div>
        </li>
        {% endfor %}
        {% for test in test_options%}
        <li data-id="{{(',').join(test[1]['specimen_types']) }}" id="test-{{test[0]}}-container" name="testOptions">
            <input type="checkbox" required id="test-{{test[0]}}" value="{{test[0]}}" name="test_type[]" onchange="handleCheckboxChange()">
            <label for="test-{{test[0]}}">{{ test[1]['name']}}</label>
            <div class="select"></div>
        </li>
        {% endfor %}
    </ul>
</div>

{% if session.get('user').get('role') in ['Nurse', 'Student'] %}
<div class="tab">
    <h2>Select person who ordered test(s)</h2>
    
    <!-- Container for search input and keyboard -->
    <div id="search-container" style="position: relative;">
        <!-- Search input field -->
        <input type="text" id="doctor-search" placeholder="Search..." onfocus="showKeyboard()" onkeyup="filterDoctors()">
        <div id="keyboard" style="display: none; position: absolute; top: 100%; left: 0; background: white; padding: 10px; border: 1px solid #ccc; z-index: 1000;">
            <!-- <div id="keyboard" style="display: none;"> -->
            <!-- Number keys -->
            <div class="keyboard-row">
                <button onclick="typeKey('1')">1</button>
                <button onclick="typeKey('2')">2</button>
                <button onclick="typeKey('3')">3</button>
                <button onclick="typeKey('4')">4</button>
                <button onclick="typeKey('5')">5</button>
                <button onclick="typeKey('6')">6</button>
                <button onclick="typeKey('7')">7</button>
                <button onclick="typeKey('8')">8</button>
                <button onclick="typeKey('9')">9</button>
                <button onclick="typeKey('0')">0</button>
                <button onclick="typeKey('Backspace')">backspace</button>
            </div>
            <!-- Top row letters -->
            <div class="keyboard-row">
                <button onclick="typeKey('q')">q</button>
                <button onclick="typeKey('w')">w</button>
                <button onclick="typeKey('e')">e</button>
                <button onclick="typeKey('r')">r</button>
                <button onclick="typeKey('t')">t</button>
                <button onclick="typeKey('y')">y</button>
                <button onclick="typeKey('u')">u</button>
                <button onclick="typeKey('i')">i</button>
                <button onclick="typeKey('o')">o</button>
                <button onclick="typeKey('p')">p</button>
            </div>
            <!-- Second row letters -->
            <div class="keyboard-row">
                <button id="caps" onclick="toggleCapsLock()">caps</button>
                <button onclick="typeKey('a')">a</button>
                <button onclick="typeKey('s')">s</button>
                <button onclick="typeKey('d')">d</button>
                <button onclick="typeKey('f')">f</button>
                <button onclick="typeKey('g')">g</button>
                <button onclick="typeKey('h')">h</button>
                <button onclick="typeKey('j')">j</button>
                <button onclick="typeKey('k')">k</button>
                <button onclick="typeKey('l')">l</button>
            </div>
            <!-- Third row letters -->
            <div class="keyboard-row">
                <button onclick="typeKey('z')">z</button>
                <button onclick="typeKey('x')">x</button>
                <button onclick="typeKey('c')">c</button>
                <button onclick="typeKey('v')">v</button>
                <button onclick="typeKey('b')">b</button>
                <button onclick="typeKey('n')">n</button>
                <button onclick="typeKey('m')">m</button>
                <button onclick="typeKey(',')">,</button>
                <button onclick="typeKey('.')">.</button>
                <button onclick="typeKey(' ')">Space</button>
            </div>
        </div>
    </div>

    <!-- The list of doctors -->
    <ul class="two-column-list" id="doctor-list">
        {% for i in doctors %}
            <li>
                <input type='radio' id='type-{{i[1]}}' value="{{i[1]}}" required name='ordered_by' >
                <label for='type-{{i[1]}}'>{{i[0]}}</label>
                <div class='check'></div>
            </li>
        {% endfor %}
    </ul>
</div>
{% else %}
<input type="hidden" name='ordered_by' value={{session["user"]['username']}} >
{% endif %}

                <div class="tab">
                    <h2>Enter Clinical Information/History</h2>
                    <div id="antibiotics" style="margin-top: 10px; display: none">
                    <label  style="font-size: 18pt;">Antibiotics:</label>
                    <input type="text" id="antibioticsInput" class="input"  placeholder="Antibiotics name" value="" name="antibiotics" style="width: 100%; font-size: 18pt; border-radius: 5px;
                     height: 7vh; display: inline-block;"/>
                     </div>


                   
                       
                    </div>

                    
                    <div style="margin-top: 10px;">

                    <!-- Button + Input Row -->
                    <div style="display: flex; gap: 10px; align-items: center;">

                        <!-- Toggle Button -->
                        <button type="button"
                            style="
                                border: gray 1px solid;
                                padding: 10px 15px;
                                font-size: 18px;
                                border-radius: 5px;
                                white-space: nowrap;
                                height: 7vh;
                            "
                            class="collapsible__toggle"
                            aria-expanded="true"
                            aria-controls="commonHistoriesContainer"
                            onclick="toggleCommonHistories(this)">
                            Common Histories
                            <span class="collapsible__caret">▾</span>
                        </button>

                        <!-- Input -->
                        <input type="text"
                            placeholder="Clinical history"
                            name="clinical_history"
                            id="input20"
                            class="input"
                            value="{{ request.form.clinical_history }}"
                            maxlength="{{ ch_length }}"
                            required
                            style="
                                width: 100%;
                                font-size: 18pt;
                                border-radius: 5px;
                                height: 7vh;
                            ">
                    </div>

                    <!-- Max char -->
                    <span style="font-weight:500;font-size:14pt;">
                        Max Char : {{ ch_length }}
                    </span>

                    <!-- Collapsible Content -->
                    <div id="commonHistoriesContainer" style="
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        gap: 15px;
                        margin-top: 10px;
                    "></div>

                </div>


                    


                    <div class="simple-keyboard" style="width: 99%; border: 1px solid silver;margin-top: 2vh;"></div>
                </div>
                <div class="tab">
                    <h2>Select priotity for test(s)</h2>
                    <ul>
                        <li>
                            <input type="radio" id="routine" value="Routine" name="priority" checked>
                            <label for="routine">Routine</label>
                            <div class="check"></div>
                        </li>
                        <li>
                            <input type="radio" id="stat" value="Stat" name="priority">
                            <label for="stat">Stat</label>
                            <div class="check"></div>
                        </li>
                    </ul>
                </div>
                <div class="tab">
                    <h2>Collect specimen now?</h2>
                    <ul>
                        <li>
                            <input type="radio" id="collect_now" value="Collect Now" name="sampleCollection" checked>
                            <label for="collect_now">Yes</label>
                            <div class="check"></div>
                        </li>
                        <li>
                            <input type="radio" id="collect_later" value="Collect Later" name="sampleCollection">
                            <label for="collect_later">No</label>
                            <div class="check"></div>
                        </li>
                    </ul>
                </div>
                <input type="hidden" name="patient_name" value={{pt_details.get('name')}} >
                <input type="hidden" name="patient_id" value={{pt_details.get('id')}} >
            </form>
        </div>
            <div style="height: 12%; margin-top: 1vh;border: 1px solid silver; padding:10px; border-radius: 0px 0px 5px 5px">
                <table style="width:100%;">
                    <tr>
                        <td>
                            <a href="#close" title="Close" ><button type="button" class="modalNVButton red">Cancel</button></a>
                        </td>
                        <td style="text-align: center;">
                            <span class="step"></span>
                            <span class="step"></span>
                           {% if session.get('user').get('role') in ['Nurse', 'Student']  %}
                                <span class="step"></span>
                            {% endif %}
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                        </td>
                        <td style="text-align: right">
                            <button type="button" id="prevBtn" class="modalNVButton" onclick="nextPrev(-1)">Previous</button>
                            <button type="button" id="nextBtn" class="modalNVButton green" onclick="nextPrev(1)">Next</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

   <script>
document.addEventListener('DOMContentLoaded', function () {
    const maxChars = {{ ch_length }};
    const commonHistories = {{ common_histories | tojson }};

    // Initialize container state
    const container = document.getElementById('commonHistoriesContainer');
    const clinicalHistoryInput = document.getElementById('input20');
    
    if (container) {
        container.style.display = 'none';
    }


    // Create common history checkboxes
    commonHistories.forEach((history, index) => {
        const wrapper = document.createElement('div');
        wrapper.className = 'common-history-item';
        wrapper.style.display = 'flex';
        wrapper.style.alignItems = 'center';
        wrapper.style.fontSize = '16pt';
        wrapper.style.padding = '5px';
        wrapper.style.cursor = 'pointer';

        const checkbox = document.createElement('input');
        checkbox.type = 'checkbox';
        checkbox.id = `history-${index}`;
        checkbox.value = history;
        checkbox.className = 'common-history-checkbox';
        checkbox.style.width = '24px';
        checkbox.style.height = '24px';
        checkbox.style.marginRight = '8px';
        checkbox.style.cursor = 'pointer';

        // Disable if this value alone is too long
        if (history.length > maxChars) {
            checkbox.disabled = true;
        }

        const label = document.createElement('label');
        label.htmlFor = checkbox.id;
        label.textContent = history;
        label.style.userSelect = 'none';
        label.style.cursor = 'pointer';

        wrapper.appendChild(checkbox);
        wrapper.appendChild(label);

        // Toggle checkbox when clicking wrapper
        wrapper.addEventListener('click', (e) => {
            if (e.target !== checkbox && e.target !== label) {
                if (!checkbox.disabled) {
                    checkbox.checked = !checkbox.checked;
                    updateClinicalHistory();
                }
            }
        });

        // Also update on checkbox change
        checkbox.addEventListener('change', updateClinicalHistory);

        if (container) {
            container.appendChild(wrapper);
        }
    });

    // Update clinical history input based on selected checkboxes
    function updateClinicalHistory() {
        if (!clinicalHistoryInput) return;

        const checkboxes = document.querySelectorAll('.common-history-checkbox');
        const selected = [];

        checkboxes.forEach(cb => {
            if (cb.checked) selected.push(cb.value);
        });

        const combined = selected.join('; ');

        if (combined.length > maxChars) {
            alert(`Maximum allowed characters is ${maxChars}. Try entering clinical history manually.`);
            // Uncheck the most recently checked box
            selected.pop();
            // Recalculate
            const newCombined = selected.join('; ');
            clinicalHistoryInput.value = newCombined;
            // Uncheck the last checked box
            let lastChecked = null;
            for (let i = checkboxes.length - 1; i >= 0; i--) {
                if (checkboxes[i].checked) {
                    lastChecked = checkboxes[i];
                    break;
                }
            }
            if (lastChecked) lastChecked.checked = false;
            updateCheckboxDisabling();
            return;
        }

        clinicalHistoryInput.value = combined;
        updateCheckboxDisabling();
    }

    // Disable checkboxes that would exceed maxChars if selected
    function updateCheckboxDisabling() {
        const checkboxes = document.querySelectorAll('.common-history-checkbox');
        const selected = [];
        checkboxes.forEach(cb => {
            if (cb.checked) selected.push(cb.value);
        });
        const combined = selected.join('; ');
        checkboxes.forEach(cb => {
            if (cb.checked) {
                cb.disabled = false;
            } else {
                // If adding this value would exceed maxChars, disable it
                let testArr = selected.slice();
                testArr.push(cb.value);
                let testCombined = testArr.join('; ');
                cb.disabled = (testCombined.length > maxChars) || (cb.value.length > maxChars);
            }
        });
    }

    // On initial load, also call updateCheckboxDisabling to ensure correct state
    updateCheckboxDisabling();
    bindKeyboardInputs();

    // Limit input characters
    if (clinicalHistoryInput) {
        clinicalHistoryInput.addEventListener('input', () => {
            if (clinicalHistoryInput.value.length > maxChars) {
                clinicalHistoryInput.value = clinicalHistoryInput.value.slice(0, maxChars);
            }
        });
    }
});

// Global functions
let selected = null;
const isNurse = {{ 'true' if session.get('user').get('role') in ['Nurse', 'Student'] else 'false' }};

function toggleDisplay(id, test_status) {
    const states = { true: "View", false: "Hide" };
    const div = document.getElementById(id);
    
    if (!div) return;
    
    const isHidden = div.hidden;
    div.hidden = !isHidden;
    
    const statusElement = document.getElementById(`${id}-status`);
    if (statusElement) {
        statusElement.innerHTML = states[!isHidden];
    }
    
    if ((test_status === "Analysis Complete" || test_status === "Rejected") && !isNurse) {
        testReviewed(id);
    }
}

let currentTab = 0;

function showOrderDialog() {
    const urlParts = window.location.href.split('?');
    const baseUrl = urlParts[0];
    window.location = `${baseUrl}#orderModal`;
    showTab(0);
}

function showDrawDialog() {
    const modalContent = document.getElementById("modalContent");
    const sampleDrawContent = document.getElementById("sampleDrawContent");
    
    if (modalContent && sampleDrawContent) {
        modalContent.innerHTML = sampleDrawContent.innerHTML;
        window.location = '{{ request.url }}#openModal';
    }
}

function filterTests(id) {
    const radios = document.getElementsByName('specimen_type');
    let specimen_type = null;
    
    for (let i = 0; i < radios.length; i++) {
        if (radios[i].checked) {
            specimen_type = radios[i].value;
            break;
        }
    }
    
    if (!specimen_type) return;
    
    const options = document.getElementsByName('testOptions');
    for (let i = 0; i < options.length; i++) {
        const option = options[i];
        const allowedTypes = option.dataset.id ? option.dataset.id.split(',') : [];
        
        if (!allowedTypes.includes(specimen_type)) {
            option.style.display = "none";
        } else {
            option.style.display = "block";
        }
    }
}

function testReviewed(id) {
    const xhr = new XMLHttpRequest();
    const url = `/test/${id}/review_ajax`;
    
    xhr.open("GET", url, true);
    xhr.setRequestHeader("Content-Type", "application/text");
    
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
            console.log("Test reviewed:", xhr.responseText);
        }
    };
    
    xhr.send();
}

function waitForKeyboard() {
    if (typeof keyboard !== 'undefined') {
        if (keyboard.options && keyboard.options.maxLength) {
            keyboard.options.maxLength["default"] = {{ ch_length }};
        }
        return;
    }
    
    setTimeout(waitForKeyboard, 2000);
}

// Initialize keyboard after DOM loads
document.addEventListener('DOMContentLoaded', waitForKeyboard);

function disable_button(x) {
    if (!x) return;
    
    x.disabled = true;
    x.innerHTML = "Printing...";
}


function toggleCommonHistories(button) {
    const container = document.getElementById('commonHistoriesContainer');
    if (!container || !button) return;
    
    const isHidden = container.style.display === 'none';
    container.style.display = isHidden ? 'grid' : 'none';
    button.setAttribute('aria-expanded', isHidden ? 'true' : 'false');
    
    const caret = button.querySelector('.collapsible__caret');
    if (caret) {
        caret.textContent = isHidden ? '▾' : '▸';
    }
}

// Add CSS for better styling
const style = document.createElement('style');
style.textContent = `
    .common-history-item:hover {
        background-color: #f5f5f5;
    }
    
    .common-history-checkbox:checked + label {
        font-weight: bold;
        color: #0066cc;
    }
`;
document.head.appendChild(style);
</script>
{% endblock %}